@font-face {
    font-family: 'Ferrari Sans Regular';
    src: url('/fonts/Ferrari-SansRegular.woff2') format('woff2'),
         url('/fonts/Ferrari-SansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: 'Ferrari Sans Regular', sans-regular;
  }